#root {
    display: flex;
    overflow-x: hidden;
    background-color: $body-color;
    height: 100%;
}
.main-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.sidebar {
    position: relative;
    border-radius: 0px 30px 30px 0px;
    background: #E4E4E4;
    box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.25);

    .nav-item {
        margin-top: 10px;
        margin-bottom: 10px;

        .nav-link {
            .inverted-color {
                filter: invert(1);
            }
        
            .nav-link-text {
                color: #000000;
                font-family: "Montserrat", Helvetica;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0.6px;
                line-height: normal;
                top: 0;
                position: relative;
                left: 20px;
            }

            .logo-header {
                color: $active-color;
                font-family: "Montserrat", Helvetica;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.6px;
                line-height: normal;
                top: 0;
                position: relative;
                text-transform: uppercase;
                left: 20px;
            }
        }

        .active {
            background-color: $active-color;
            margin-left: 10px;
            margin-right: 20px;
            border-radius: 5px;
            transition: .5s ease-in-out;

            .nav-link-text {
                color: #fff;
            }

            .inverted-color {
                filter: invert(0);
            }
        }
    }

    .logout {
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
    }

    .logo-wrapper {
        margin-top: 50px;
        margin-bottom: 5px;
        border-bottom: 1px solid $subtitle-color;
    }

    .logo-nav {
        margin-bottom: 25px;
    }

    .nav-link {
        .inverted-color {
            filter: invert(1);
        }

        .nav-link-text {
            color: #000000;
            font-family: "Montserrat", Helvetica;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.6px;
            line-height: normal;
            top: 0;
            position: relative;
            left: 20px;
        }

        .logo-header {
            color: $active-color;
            font-family: "Montserrat", Helvetica;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.6px;
            line-height: normal;
            top: 0;
            position: relative;
            text-transform: uppercase;
            left: 20px;
        }
    }
}

// CARDS
.card-wrapper {
    position: relative;
    width: 250px;
    height: 170px;
    background: rgb(234, 234, 234);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 15px;
    border-radius: 15px;
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;

    .card-icon-wrapper {
        position: absolute;
        right: 30px;
        top: -35px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background: $active-color;
        box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 15px;
        border-radius: 10px;
    
        .icon {
            width: 35px;
            height: 35px;
        }
    }

    .bookings {
        color: rgb(84, 84, 84);
        font-size: 15px;
        font-family: $primary-font;
        font-weight: 400;
        letter-spacing: 0.45px;
        overflow-wrap: break-word;
        margin-left: 25px;
        margin-top: 10px;
    }

    h1 {
        color: #000;
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
        text-align: center;
        margin-bottom: 0;
    }

    .footer-card {
        .horizontal-line {
            width: 200px;
            height: 0px;
            border: 0.5px solid rgb(210, 210, 210);
            margin: auto;
            margin-bottom: 10px;
        }
        p {
            color: rgb(84, 84, 84);
            font-size: 12px;
            font-family: Montserrat;
            font-weight: 500;
            letter-spacing: 0.36px;
            overflow-wrap: break-word;
            text-align: center;

            .percentage {
                color: rgb(0, 128, 0);
                font-size: 12px;
                font-family: Montserrat;
                font-weight: 500;
                letter-spacing: 0.36px;
                overflow-wrap: break-word;
            }
        }
    }
}

// CHARTS
.chart-card-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .line-chart-card {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        background: #EAEAEA;
        border-radius: 20px;
        width: 770px;
        height: 560px;

        .line-chart {
            padding: 30px;
            width: 100%;
            height: 435px !important;
            background: #EAEAEA;
            border-radius: 20px;
        }

        .line-chart-content {
            padding-left: 30px;

            h4, p {
                color: #545454;
                font-family: Montserrat;
                font-weight: 600;
            }

            h4 {
                margin-bottom: 20px;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                margin-top: 20px;
            }

            hr {
                width: 520px;
                margin: auto;
            }
        }
    }

    .bar-chart-wrapper {
            margin-left: 60px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
            background: #EAEAEA;
            border-radius: 10px;
            width: 350px;
            height: 180px;
            margin-bottom: 10px;
        
        .bar-chart {
            width: 100% !important;
            height: 150px !important;
            padding: 10px;
            border-radius: 10px;
            background: #EAEAEA;
        }

        .bar-chart-title {
            color: #545454;
            font-family: Montserrat;
            font-size: 10px;
            font-weight: 500;
            padding-left: 25px;
        }
    }
}

// Tables
.table-content-wrapper {
    position: relative;
    margin-top: 60px;
    display: flex;
    justify-content: center;

    .table-header {
        width: 70vw;
        border-radius: 10px;
        background: #00AACF;
        box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: -40px;

        .title-with-btn, .title-without-btn {
            color: #FFF;
            font-family: Montserrat;
            font-size: 35px;
            font-weight: 700;
            letter-spacing: 0.6px;
            margin-bottom: 0;
            padding-left: 30px;
        }

        .title-without-btn {
            margin: auto;
            padding-left: 0;
        }

        .add-doctor-btn {
            margin-right: 30px;
            display: flex;
            align-items: center;

            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
    }

    .table-content {
        width: 80vw;
        height: 80vh;
        border-radius: 10px;
        background: #fff;
        box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
        padding: 15px;

        .table {
            margin-top: 30px;

            tbody {
                tr:hover {
                    background-color: #C9C9C9;
                    width: 100%;
                    border-radius: 10px !important;
                }
            }   
        }        
    }
}

// Edit Profile
.relative-container {
    position: relative;
}

.table-content {
    height: 650px !important;
}

.form-container {
    padding-top: 60px;
    padding-bottom: 30px;

    .form-content {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .left-col,
        .right-col {
            .form-control {
                width: 33vw;
                height: 60px;
                border-radius: 10px;
                background: #E6E6E6;
            }
        }

        .form-group {
            margin: 20px;
        }
    }

    .btn-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .change-profile {

        .change-profile-img {
            display: flex !important;
            justify-content: center;
            margin-bottom: 20px;

            img {
                width: 70px;
                height: 70px;
            }
        }
    }

    .horizontal-line {
        width: 800px !important;
        height: 1.5px !important;
        background: #CCC !important;
        margin: auto;
    }
}

// View Modal
.modal-content {
    width: 800px !important;
    height: 650px !important;
    left: -160px;
    padding-left: 30px;
}

.modal-header {
    align-items: flex-start !important;
    border-bottom: none !important;
    margin-top: 0;
    padding: 0;

    .btn {
        width: 125px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 5px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
    }
}

    .modal-sub-header {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;

        h4, p {
            color: #545454;
            font-weight: 400;
        }
    }
.modal-body {
    .container {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

        .user-portrait {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
    
            img {
                width: 90px;
                height: 90px;
            }
        }
    
        .input-container,
        .input-container-row {
            width: 20vw;
            height: 60px;
            border-radius: 10px;
            background: #E6E6E6;
            display: flex;
            margin-left: 20p;
            padding-left: 20px;
            align-content: center;
            align-items: center;
            font-weight: 500;
            font-family: Montserrat;
            font-size: 18px;
            margin-bottom: 25px;
        }
    
        .input-label {
            color: #545454;
            font-size: 15px;
            margin-bottom: 5px;
            font-family: Montserrat;
        }
    
        .input-container-row {
            width: 44vw !important;
        }
    }

    
}

// Add Modal
.modal-header {
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 0;
}

.modal-form-container {
    padding: 0;
}

.modal-content {
    padding-left: 0;

    .change-profile {
        margin-bottom: 30px;

        .change-profile-img {
            display: flex !important;
            cursor: pointer;
            justify-content: center;
    
            img {
                height: 90px;
                width: 90px;
                border: 1px solid;
                border-radius: 50%;
            }
            .camera-badge {
                position: absolute;
                bottom: 0;
                right: 45%;
                background-color: #000;
                color: white;
                border-radius: 50%;
                padding: 2px 6px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    font-size: 14px;
                    width: 14px;
                    height: 20px;
                }
            }
        }
    }

    .modal-form-content {
        margin-bottom: 25px;

        .container {
            .row {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    .horizontal-line {
        width: 590px;
        margin: auto;
    }
    
    .btn-container {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}

// Page Headers
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .left-header {
        h1 {
            color: #545454;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.6px;
            margin-left: 30px;
        }
    }

    .right-header {
        display: flex;
        align-items: center;
        margin-right: 30px;

        h2 {
            color: #000;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.45px;
            margin-bottom: 0;

            span {
                font-size: 20px;
                font-weight: 500;
            }
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 70px;
            border: 0.5px solid #545454;
            margin-left: 10px;
        }
    }
}

.header-bottom {
    h1 {
        color: #545454;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.6px;
        text-align: center;

        span {
            font-size: 20px;
            font-weight: 700;
        }
    }
}

// Header Nav
.patient-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: #c9c9c9;
    border-radius: 0px 0px 30px 30px;
    height: 90px;
    left: 0;
    position: fixed;
    padding: 0 30px;
    z-index: 1;
    
    .row {
        justify-content: space-between;
        width: 100%;

        .navbar-brand-container {
            display: flex;
            align-items: end;
            text-decoration: none;

            .navbar-brand {
                display: flex;
                align-items: center;
        
                img {
                    height: 40px;
                    object-fit: cover;
                    width: 40px;
                    margin-right: 10px;
                }
                h1 {
                    color: #000000;
                    font-family: "Montserrat-Bold", Helvetica;
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    line-height: normal;
                    top: 0;
                    white-space: nowrap;
                    margin-bottom: 0;
                }
            }
        }

        .navbar-links {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .navlink {
                margin-left: 30px;
                font-weight: 600;
            }

            .navlink:hover {
                color: #00AACF;
            }

            .btn-primary {
                background: none;
                padding: 10px;
                border-width: 2px;
                border-color: #00AACF;
            }

            .btn-primary:hover {
                background-color: #00AACF;
                color: #fff;
            }
            
            a {
                color: #000000;
                font-family: "Montserrat", Helvetica;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: normal;
                text-decoration: none;
            }

            img {
                border: 0.5px solid;
                border-radius: 50%;
            }
        }
    }
    
}
.patient-main-content {
    position: relative;
    top: 155px;
    width: 100vw !important;

    .row {
        .col-md-6 {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .profile-container,
            .book-appointment-container {
                background-color: #c9c9c9;
                border-radius: 20px;
                height: 248px;
                width: 550px;
                display: flex;
                justify-content: center;
                align-items: center;

                .row {
                    width: 80%;

                    .col-md-6 {
                        .profile-wrapper {    
                        
                            h1 {
                                color: #000000;
                                font-family: "Montserrat-SemiBold", Helvetica;
                                font-size: 25px;
                                font-weight: 600;
                                letter-spacing: 0;
                                line-height: normal;
                                white-space: nowrap;
                            }
                            .profile-content-wrapper {
                                display: flex;

                                img {
                                    height: 20px;
                                    object-fit: cover;
                                    width: 20px;
                                    margin-right: 10px;
                                }
                            }
                        }
                        .profile-container-profile {
                            height: 130px;
                            object-fit: cover;
                            width: 130px;
                            border: 0.5px solid;
                            border-radius: 50%;
                        }
                    }
                    .col-md-12 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        p {
                            color: #686868;
                            font-family: Montserrat;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        button {
                            margin: 30px 0;
                        }
                    }
                }
            }
        }
        .col-md-12 {
            display: flex;
            justify-content: center;
            margin: 30px 0;

            button {
                text-align: center;
                
                width: 255px;
                height: 64px;
                color: #FFF;
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                flex-shrink: 0;
                box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
            }
        }
    }
}
.table-content-wrapper {

    .patient-appointment-table {
        --bs-table-bg: none !important;
        --bs-table-border-color: #A6A6A6 !important;

        thead {
            border-top: 1px solid #A6A6A6 !important;

            tr {
                text-align: center;

                th {
                    color: #545454;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.6px;
                    padding: 25px 0!important;
                }
            }
        }
        tbody {
            tr {
                text-align: center;

                td {
                    color: #000;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.54px;
                    vertical-align: middle;

                    .patient-appointment-status {
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.54px;
                        width: 150px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
.login-container-wrapper,
.register-container-wrapper {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;

    .row {
        .col-md-6 {
            .logo-brand {
                display: flex;
                justify-content: center;

                h1 {
                    color: #000;
                    font-family: Montserrat;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.5px;
                }

                img {
                    margin-right: 10px;
                }
            }
            p {         
                text-align: center;
                margin: 20px 0;
                color: #545454;
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            form {
                .position-relative {
                    label {
                        color: #545454;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.6px;
                    }
                    input {
                        color: #545454;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        height: 60px;
                        border-radius: 10px;
                        background: #EBEBEB;
                    }
                }

                .btn-submit {
                    display: flex;
                    justify-content: center;
                    margin-top: 75px;

                    button {
                        text-align: center;
                        width: 288px;
                        border-radius: 10px;
                        height: 66px;
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.75px;
                    }
                }
            }
        }
    }
}

.register-container-wrapper {
    .container {
        .row {
            .col-md-6 {
                form {
                    .row {
                        .col-md-6 {
                            .form-floating {
                                input {
                                    border-radius: 10px;
                                    background: #EBEBEB;
                                    color: #545454;
                                    font-family: Montserrat;
                                    font-size: 25px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.75px;
                                }
                                label {
                                    color: #545454;
                                    font-family: Montserrat;
                                    font-size: 15px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }
                            }
                        }
                    }
                    .form-floating {
                        input,
                        textarea {
                            border-radius: 10px;
                            background: #EBEBEB;
                            color: #545454;
                            font-family: Montserrat;
                            font-size: 25px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.75px;
                        }
                        label {
                            color: #545454;
                            font-family: Montserrat;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }
}

// Blog Page

.landing-page {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.50),
            rgba(0, 0, 0, 0.50)
        ) no-repeat center,
        url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
    display: flex;

    .row-container {
        width: 100%;
        padding-bottom: 30px;
    }

    .left-landing {
        display: flex;
        justify-content: center;
        align-items: center;

        h1, h4 {
            color: #FFF;
            font-family: Montserrat;
            letter-spacing: 1.75px;
        }

        h1 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 50px;
        }

        h4 {
            font-size: 20px;
            font-weight: 400;
        }
    }

    .right-landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 30px;

        .right-container {
            width: 250px;
            height: 200px;
            border-radius: 10px;
            background: #FFF;
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none !important;
            --bs-btn-active-bg: #fff !important;

            img {
                width: 200px;
                height: 150px;
            }

            h1 {
                color: #000;
                font-family: Montserrat;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 1px;
            }
        }

        .right-container:hover {
            box-shadow: 7px 7px 15px 0px rgba(250, 250, 250, 0.25);
        }
    }
}

.blog-container {
    display: block!important;
    width: 100%;
}

.container-title {
    width: 100%;
    h1 {
        color: #000;
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1.25px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.booking-steps-content {
    p {
        margin-top: 10px;
    }
}

.how-it-works {
    .row-container {
        margin-bottom: 30px;
    }
    .booking-steps-div {
        width: 33%;
        color: #fff;
        gap: 20px;
        position: relative;

        .booking-steps-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 250px;
                height: 200px;
                border-radius: 20px;
                background: #fff;
                padding: 15px;
            }

            p {
                color: #545454;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1px;
                width: 60%;
                text-align: center;
            }
        }

        .steps-number {
            position: absolute;
            background: #00AACF;
            color: #fff;
            width: 50px;
            border-radius: 40px;
            text-align: center;
            padding: 10px;
            right: 270px;
            top: -25px;
            font-size: 20px;
            font-size: weight;
            font-weight: 500;
            font-family: Montserrat;
        }
    }
}

.testimonials {
    background:
        linear-gradient(rgba(0, 0, 0, 0.50),
            rgba(0, 0, 0, 0.50)) no-repeat center,
        url("https://images.unsplash.com/photo-1584516150909-c43483ee7932?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80") no-repeat center;
    background-size: cover;
    height: 80vh;
    display: flex;
    padding-top: none !important;
    flex-direction: column;

    .container-title {
        h1 {
            color: #fff;
        }
    }

    .row-container {
        .testimonial-div {
            width: 33%;
            display: flex;
            justify-content: center;

            .testimonial-content {
                width: 400px;
                height: 50vh;
                border-radius: 20px;
                background: #DEDEDE;
                box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: 40px;
                position: relative;

                .testimonial-content-header {
                    display: flex;
                    position: absolute;
                    top: 40px;
                    align-items: center;
                    left: 40px;

                    img {
                        max-width: 60px;
                        max-height: 60px;
                        margin-right: 40px;
                    }

                    p {
                        color: #00AACF;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: 1.25px;
                        margin-bottom: 0px;
                    }
                }

                .testimonial-content-body {
                    p {
                        color: #000;
                        font-family: Montserrat;
                        font-size: 25px;
                        font-weight: 400;
                        letter-spacing: 1.25px;
                        margin-bottom: 50px;
                        width: fit-content;
                        text-align: center;
                    }

                    .testimonial-star-fb {
                        display: flex;
                        justify-content: center;

                        svg {
                            color: #ffc107;
                        }
                    }
                }
            }
        }
    }
}

.footer-container {
    background: #00AACF;
    padding-top: 40px;
    padding-left: 50px !important;

    .footer-links {
        list-style-type: none;
        color: #fff;
        width: 35%;
        padding-bottom: 10px;

        .quick-links-container, .follow-us-container{
            h4 {
                margin-bottom: 15px;
            }

            ul {
                padding-left: 0;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    .footer-logo {
        padding-top: 50px;

        .footer-logo-content {
            display: flex;
            flex-wrap: unset;
            align-items: center;
            justify-content: center;
            padding-bottom: 40px;
    
            img {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
    
            h4,
            img {
                padding: 0;
                margin-bottom: 0;
                color: #fff;
            }
        }
    }
}

// Patient Booking Modal
.booking-modal-content {
    height: none;
}

.booking-header {
    h1 {
        margin: auto;
        color: #545454;
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0.6px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .btn-close {
        margin: 0 !important;
    }
}

.booking-body {
    padding-left: 60px !important;
    padding-right: 60px !important;
    padding-top: 40px !important;

    .container {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .row {
                width: 100%;

                .form-label {
                    color: #545454;
                    font-family: Montserrat;
                    font-size: 15px;
                    font-weight: 400;
                    letter-spacing: 0.6px;
                }

                .form-control, .form-select {
                    margin-bottom: 50px;
                    height: 60px;
                    border-radius: 10px;
                    background: #E6E6E6;
                    padding-left: 20px;
                }

                .form-select {
                    width: 100%;
                }

                .form-control::placeholder {
                    color: #545454;
                    font-family: Montserrat;
                    font-weight: 500;
                    letter-spacing: 0.75px;
                }

                .book-btn {
                    margin-top: 40px;

                    .btn {
                        width: 255px;
                        height: 50px;
                        border-radius: 10px;
                        background: #00AACF;
                        border: none;
                        margin: auto;
                    
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

// Patient Dashboard Calendar Modal
.fc-day-today {
    background-color: #C9C9C9 !important;
}

.fc-button-primary {
    background-color: #00AACF !important;
    border: none !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    font-family: Montserrat !important;
}

.fc-toolbar-title {
    font-size: 20px !important;
    font-weight: 700 !important;
    font-family: Montserrat !important;
}

.fc-col-header-cell-cushion, .fc-daygrid-day-number {
    text-decoration: none !important;
    color: #000 !important;
}

.fc-highlight {
    background: #C9C9C9 !important;
}

.fc-event-draggable {
    background: none !important;
    border: none !important;
}

.fc-event {
    background-color: #00AACF !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.fc-event-main {
    p {
        color: #fff !important;
        font-size: 15px !important;
        font-weight: 500 !important;
        font-family: Montserrat !important;
        text-align: center !important;
        margin-bottom: 0 !important;
    }
}

.fc-other-month, .fc-day-number {
    display: none !important;
}

.hiddenEvent {
    display: none;
}

.fc-other-month .fc-day-number {
    display: none;
}

td.fc-other-month .fc-day-number {
    visibility: hidden;
}

.view-calendar-modal {
    .modal-content {
        height: 720px !important;
    }
}

// Edit Profile Modal
.edit-profile-modal {
    .left-col {
        .form-group {
            padding-right: 10px !important;
        }
    }

    .right-col {
        .form-group {
            padding-right: 10px !important;
        }
    }

    .form-control {
        margin-bottom: 35px !important;
    }
}

// Dropdown Profile
.dropdown {
    .btn-primary {
        padding: 0px !important;
        border: none !important;
        --bs-btn-active-bg: transparent !important;
        --bs-btn-bg: transparent !important;
    }

    .btn-primary:hover {
        background-color: transparent !important;
    }

    .dropdown-menu.show {
        transform: translate3d(0px, 70px, 0px) !important;
    }

    .dropdown-menu {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px !important;
        box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.25);

        .dropdown-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            div {
                font-size: 16px;
            }

            div:hover {
                color: #00AACF;
            }
    
            img {
                width: 20px !important;
                height: 20px !important;
                margin-right: 10px;
                border: none !important;
                border-radius: 0px !important;
                color: #000;
            }

            img:hover {
                color: transparent !important;
            }
        }

        .dropdown-item:active {
            background-color: transparent !important;
        }
    }
}

// 404 Page
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

    h1, h4, .button {
        font-family: Montserrat;
        margin-bottom: 0px;
    }

    h4 {
        font-size: 1rem;
        margin: 20px;
    }

    .banner-button {
        width: fit-content !important;
        font-size: 18px !important;
        font-weight: 500 !important;
        border-radius: 15px !important;
        padding: 15px !important;
    }
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .banner-image {

        img {
            vertical-align: middle;
            width: 400px !important;
            height: 400px !important;
        }
    }
}

.banner-page-container {
    margin-top: 20px;
}

// Create Schedule Modal
.create-sched-modal {
    .modal-dialog {
        .modal-content {
            width: 100% !important;
            height: 100% !important;
            left: 0 !important;
        }
    }

    .create-sched-body {
        padding: 30px;
        margin-bottom: 25px;
        padding-top: 0px !important;
    }
}

// Create Schedule
.create-schedule-time {
    display: flex;
    align-items: center;

    .btn-primary {
        margin-left: 10px;
        --bs-btn-bg: transparent !important;
        --bs-btn-border-color: transparent !important;
        --bs-btn-hover-bg: transparent !important;
        --bs-btn-hover-border-color: transparent !important;
        --bs-btn-active-bg: transparent !important;
        --bs-btn-active-border-color: transparent !important;
    }

    .dropdown-menu.show {
        transform: translate3d(28px, 32px, 0px) !important;
    }

    .dropdown-menu {
        padding-top: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border-radius: 10px !important;
        --bs-dropdown-padding-y: 0px !important;
        --bs-dropdown-min-width: 0px !important;
        --bs-dropdown-item-padding-x: 0px !important;
        --bs-dropdown-item-padding-y: 0px !important;
    }

    .dropdown-item {
        margin-bottom: 0px !important;
    }

    .btn {
        width: 100%;
        padding: 5px;
    }
}