$primary-font: "Montserrat", sans-serif;

// COLORS
$body-color: #DEDEDE;
$active-color: #00AACF;
$primary-color: #000;
$secondary-color: #fff;
$success-color: #008000;
$pending-color: #F77F00;
$danger-color: #D62828;
$subtitle-color: #545454;